.container {
  margin-top: 30px;
  width: 100%;
  display: none;
}

.barometer {
  position: relative;
  height: 9px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.backgroundRectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #dbe4eb;
  border-radius: 7px;
}

.rectangle {
  border-radius: 7px;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: linear-gradient(to bottom, #ffd664, #ffbc03);
}

.content {
  margin-bottom: 8px;
}

.amount {
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-right: 5px;
}

.target {
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  margin: 0;
}

.description {
  opacity: 0.8;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: #14161b;
  margin-bottom: 0;
  max-width: 300px;
}

@media (max-width: 779px) {
  .container {
    display: block;
  }
}

@media (max-width: 350px) {
  .amount,
  .target {
    display: block;
    margin: auto;
    text-align: left;
  }
}
