@import "../../../scss/constants.scss";
@import "../../../scss/mixins.scss";

.container {
  max-width: 1087px;
  width: 90%;
  margin: auto;
  margin-bottom: 200px;
}

.content {
  display: flex;
  align-items: center;
}

.textContent {
  width: 324px;
  max-width: 90vw;
  background: $primary-color;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  border-radius: 6px;
  padding: 30px;
  z-index: 1;
  display: none;
}

.itemContainer {
  padding-bottom: 20px;
  position: relative;
  margin: 0 25px;
  height: 118px;

  &:hover {
    .textContent {
      display: block;
    }
  }
}

.logoContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.title {
  font-size: 42px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #3b3b4d;

  @media (max-width: 453px) {
    font-size: 30px;
  }
}

.byline {
  max-width: 790px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b4d;
  margin: auto;
  margin-bottom: 50px;
}

.heading {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.text {
  opacity: 0.9;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 779px) {
  .container {
    margin: auto;
  }

  .content {
    flex-wrap: wrap;
  }

  .itemContainer {
    width: calc(50% - 50px);
    height: auto;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    height: 70px;
  }

  .textContent {
    position: relative;
    display: flex;
    background: transparent;
    width: calc(100%);
  }

  .heading {
    display: none;
  }

  .text {
    color: #444358;
    opacity: 0.6;
  }
}

@media (max-width: 591px) {
  .itemContainer {
    width: 100%;
  }
}
