h2 {
    color: #1D2433;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin: 50px 0;
    text-transform: uppercase;
    border-top: 2px solid #D8D8D8;;
    padding-top: 50px;
    &:first-child {
      border-top: 0;
      margin-top: 25px;
      padding-top: 25px;
    }
}

p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(29, 36, 51, 0.5);
}
