@import "../../scss/constants.scss";

.container {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallLogo {
  display: none;
}

.logoLink {
  svg {
    path {
      fill: #3b3b4d;
    }
  }

  &:hover {
    svg {
      path {
        fill: $primary-color;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 779px) {
    display: none;
  }
}

.dropdownContainer {
  margin-right: 210px;
}

.donateText {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #01b964;
  text-transform: uppercase;
  margin-right: 20px;
}

@media (max-width: 779px) {
  .container {
    background: $primary-color;
    width: 100%;
    margin-top: 0;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .popoutContainer {
    padding-right: 20px;
  }

  .logoSmall {
    display: block;
  }

  .logoLarge {
    display: none;
  }

  .logoLink {
    position: relative;
    padding-left: 20px;

    svg {
      path {
        fill: #fff;
      }
    }

    &:hover {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .removePadding {
    .popoutContainer {
      padding-right: 0px;
    }

    .logoLink {
      padding-left: 0px;
    }
  }
}
