@import "../../scss/constants.scss";

.container {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSmall {
  display: none;
}

.logoLink {
  svg {
    path {
      fill: $primary-color;
    }
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  font-size: 16px;
  // font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  line-height: 0.9;
  color: #00a6ff;
  text-decoration: none;
  margin: 0 8px;
  text-transform: uppercase;
}

.nhsButton {
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px $primary-color;
  padding: 11px 12px;
  font-size: 16px;
  // font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  line-height: 0.9;
  text-align: center;
  color: $primary-color;
  background-color: transparent;
  text-transform: uppercase;
  margin: 0 8px;
}

.donateButton {
  cursor: pointer;
  border-radius: 3px;
  background-color: #ffc84e;
  font-size: 16px;
  // font-family: acumin-pro-extra-condensed;
  font-weight: 900;
  line-height: 0.9;
  text-align: center;
  color: black;
  padding: 11px 12px;
  border: 0;
  margin: 0 8px;
  text-transform: uppercase;
}

.removePadding {
  display: none;
}

.dropdownContainer {
  margin-right: 210px;
}

.donateText {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #01b964;
  text-transform: uppercase;
  margin-right: 20px;
}

.popoutContainer {
  display: none;
}

@media (max-width: 1000px) {
  .link {
    display: none;
  }
}

@media (max-width: 779px) {
  .container {
    background: $primary-color;
    width: 100%;
    margin-top: 0;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .links {
    display: none;
  }

  .desktopContent {
    width: 95%;
    margin: auto;
  }

  .donateButton {
    background: $primary-color;
    color: white;
    margin-right: 0;
  }

  .logoLink {
    svg {
      path {
        fill: white;
      }
    }
  }

  .popoutContainer {
    display: block;
  }
}
