@import "../../scss/constants.scss";

.container {
  width: 100%;
  background: $primary-color;
  padding-bottom: 30px;
  padding-top: 30px;
}

.innerContainer {
  width: 85%;
  margin: auto;
  padding-top: 51px;
}

.linkContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLink {
  font-size: 13px;
  line-height: 2.46;
  color: white;
}
.socials {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;

  path {
    fill: white;
  }
}

.socialIcon {
  margin-right: 14px;

  &:hover {
    path {
      fill: rgb(33, 85, 145);
      opacity: 1;
    }
  }
}

.contactEmailContainer {
  display: flex;
  justify-content: center;
}

.contactEmail {
  font-size: 17px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 30px;
  text-transform: uppercase;
}

.homepage {
  .contactEmailContainer,
  .socials,
  .externalLinks,
  .linkContainer {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .copyright {
    text-align: left;
  }

  .donateLinks {
    justify-content: flex-start;
  }
}

@media (max-width: 1161px) {
  .donate {
    display: none;
  }
}

@media (max-width: 779px) {
  .donateLinks {
    display: none;
  }

  .socials,
  .contactEmailContainer,
  .linkContainer {
    display: flex;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }

  .innerContainer {
    width: 90%;
  }

  .socialIcon:last-child {
    margin-right: 0;
  }
}
