@import "../../../scss/constants.scss";
@import "../../../scss/mixins.scss";

.container {
  max-width: calc(1920px / 3 * 2);
  width: calc(100% / 3 * 2);
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 2;

  @media (max-width: 779px) {
    display: none;
  }
}

.leftColumn {
  width: 50%;
  position: relative;
}

.supportedByContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

.text {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

// .bmaLogo {
//   max-width: 115px;
// }

.rightColumn {
  width: 50%;
  background-color: $primary-color;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;

  .headerLinks {
    position: absolute;
    right: 50px;
    top: 40px;
    display: flex;
    align-items: center;
    z-index: 11;
  }
}

.videoContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoInnerContainer {
  width: 75%;
  max-width: 87vh;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  border-radius: 15px;
  position: relative;
  padding-bottom: 72.5%;
  height: 0;
  overflow: hidden;
  max-width: calc(100%);

  iframe {
    position: absolute;
    top: 0;
    left: 0px;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    z-index: 11;
  }

  // iframe,
  // object,
  // embed {
  //   border: 1px solid rgba(255, 255, 255, 0);
  //   -webkit-border-radius: 13px !important;
  //   -ms-border-radius: 13px !important;
  //   -o-border-radius: 13px !important;
  //   border-radius: 13px !important;
  // }
}

.donate {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.spot1 {
  @include spot(34px, #1574f6);
  top: 55%;
  left: -70px;
}

.spot2 {
  @include spot(16px, #1574f6);
  top: -35px;
  left: 25%;
}

.spot3 {
  @include spot(39px, #b4e2ff);
  top: -68px;
  right: 40%;
}

.spot4 {
  @include spot(39px, #b4e2ff);
  bottom: -68px;
  left: 40%;
}

.spot5 {
  @include spot(16px, #b4e2ff);
  bottom: 40%;
  right: -64px;
}

.spot6 {
  @include spot(16px, #ffd167);
  right: 15%;
  bottom: -44px;
}

@media (max-width: 1161px) {
  .spot1,
  .spot5,
  .donate {
    display: none;
  }

  .videoInnerContainer {
    width: 85%;
  }
}
